<div class="serviceBox">

<div class="verticalAlign">

    <div class="icon"> <svg width="64px" height="64px" class="desk"
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 ">
<image   x="0px" y="0px" width="64px" height="64px"  xlink:href="{{service.icon}}" />

</svg>

<svg width="34px" height="34px" class="mobile" 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 ">

<image x="0px" y="0px" width="34px" height="34px"  xlink:href="{{service.icon}}" />
</svg>

</div>
   
   <div class="name"><p>{{service.name}}</p></div>

</div>

</div>