<div class="formGrid">

<input class="name" type="text" placeholder="Full Name">
<input class="email" type="text" placeholder="Email Address">
<input class="phone" type="text" placeholder="Phone Number">
<textarea class="message"  placeholder="Message in brief">

</textarea>

</div>