#sectionForm {
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/formBack.jpg');
  .formTitle {
    padding-top: 80px;
    padding-bottom: 30px;

    h1 {
      color: white;
      margin-top: 0;
      margin-bottom: 5px;
      text-align: center;
    }
    p {
      margin: 0;
      color: white;
      text-align: center;
    }
  }
  .formGrid {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5%;
    display: grid;
    grid-template-areas:
      'name '
      'email'
      'phone'
      'message '
      'message '
      'message '
      'message ';

    grid-gap: 20px;
    .name {
      grid-area: name;
    }
    .email {
      grid-area: email;
    }
    .phone {
      grid-area: phone;
    }
    .message {
      border: none;
      border-radius: 4px;
      grid-area: message;
      padding-left: 10px;
    }

    input {
      padding-left: 10px;
      border: none;
      border-radius: 4px;
    }
  }
  .formSubmit {
    width: 110px;
    margin: 0 auto;

    margin-top: 30px;
    button {
      background-color: orangered;
      border: none;
      color: white;
      height: 35px;
      width: 110px;
      border-radius: 20px;
    }
  }
}
